# Dependency directories
node_modules/
jspm_packages/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.staging
.env.production
.env.*.local

# OS Metadata
.DS_Store
Thumbs.db
